.action-item-card{
    display: flex;
    background-color: #0EB1D2;
    color:#2C1A1D;
    margin: 10px 10px 10px 10px;
    box-shadow: #847d61 4px 4px ;
    align-items: center ;
    flex-direction: column;
    border-color: #f4e07f;
    border-width: medium;
    border-style: solid;

    border-bottom-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 10% 10%;
    border-top-left-radius: 10% 20%;
}

.action-title{
    font-weight: bold;
}
