.action-item-details {
    font-weight: bold;
    font-size: x-large;
    color: #F6E27F;
}

.action-title {
    font-weight: bold;
    font-size: large;
    color: #F6E27F;
}

.action-title a {
    font-weight: bold;
    font-size: large;
    color: #F6E27F;
}

.gallery {
    max-height: 78vh;
    background-color: #2B4162;
    height: 100vh;
    overflow: auto;
    text-align: justify;
    justify-content: start;
}