.edit-action-item-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: auto;
    max-height: 82vh;
}

#editActionItem {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    align-self: center;
    max-width: 90vw;
    min-width: 90vw;
    text-align: left;
}

@media (min-width: 768px) {
    #editActionItem div {
        font-weight: normal;
        text-align: left;
        max-width: 768px;
    }

    #editActionItem {
        display: flex;
        flex-direction: column;
        justify-content: left;
        justify-items: left;
        align-self: center;
        max-width: 768px;
        text-align: left;
    }
}
