
.row1 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #847d61;
}

.cx {
    min-width: 20%;
    max-width: 20%;
}

.row div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    alignment: center;
}

.c1 {
    width: 20%;

}

.c2 {
    min-width: 20%;
    max-width: 20%;
    display: flex;
    flex-direction: row;
}